<% post.forEach((e)=> { %>
    <div class="post-container">
        <h5> <%= e.title %></h5>
        <p class="data"><%= e.body.substring(0, 280)+ "..." %> <a href="/posts/<%= e.title %> ">Read more</a></p>
    </div>
<% }) %>